:root {
    --background-color-dark: #2d2d30;
    --default-text-color: #fff; 
}

body {
    background-color: var(--background-color-dark);
    color: var(--default-text-color);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--default-text-color);
}


nav {
    height: 6vh;
    align-items: center;
    display: flex;
    font-size: 1.6rem;
    margin-left: 3rem;
    margin-right: 3rem;
    justify-content: space-between;
}

.left a {
    margin-right: 2rem;
}

.Top {
    text-align: center;
    margin-top: 150px;
}

.main-content {
    margin: 125px 200px 0 200px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}


#top-top {
    font-size: 2rem;
    font-weight: 800;
}

#top-bot {
    font-size: 1.5rem;
}


.nr-1 {
    font-size: 2rem;
    font-weight: 700;
}

.nr-2 {
    font-size: 1.3rem;
}