:root {
    --background-color-dark: #2d2d30;
    --default-text-color: #fff; 
}

body {
    background-color: var(--background-color-dark);
    color: var(--default-text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--default-text-color);
}

/* Navbar */

nav {
    height: 6vh;
    align-items: center;
    display: flex;
    font-size: 1.6rem;
    margin-left: 3rem;
    margin-right: 3rem;
    justify-content: space-between;
}

.left a {
    margin-right: 2rem;
}


/* Footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.footer-right {
    margin-right: 100px;  
}

.footer-left {
    margin-top: 35px;
}


/* Index */

.Top {
    text-align: center;
    margin-top: 150px;
}

.main-content {
    margin: 125px 200px 0 200px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}


#top-top {
    font-size: 2rem;
    font-weight: 800;
}

#top-bot {
    font-size: 1.5rem;
}


.nr-1 {
    font-size: 2rem;
    font-weight: 700;
}

.nr-2 {
    font-size: 1.3rem;
}


/* Statistics */

.content-statistics {
    display: flex;
    justify-content: space-around;
}

.statistics-left {
    margin: 250px 0 0 50px;
}

.calories-burned-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.calories-burned-form span {
    margin-bottom: 15px;
}

.calories-burned-form input,
.calories-burned-form select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.result {
    margin-top: 10px;
}

.statistics-right {
    margin: 100px;
}

.formulas {
    margin-bottom: 100px;
}

table td {
    padding: 5px;
    border: solid 1px;
}


/* Help */

.main-content-help {
    margin: 150px;
    display: flex;
    justify-content: space-around;
}

.help-left {
    max-width: 30vw;
}

.help-form {
    display: flex;
    flex-direction: column;
}

.help-form input, textarea {
    margin-top: 10px;
}

.help-form span, button {
    margin-top: 15px;
}
